.imagesContainer{
    height: 72vh;
    width: 120px;
    background-color: rgba(255, 255, 255, 0.25);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    
    
    
}

.imagesContainer  img { 
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 20px;
}
.imagesContainer  img:hover { 
    transform: scale(1.1); /* Scale the button to 110% of its original size */
    transition: transform 0.2s ease-in-out; /* Smooth transition */
}


.selectedImage{
    height: 500px;
    width: 550px;
    background-color:  rgba(255, 255, 255, 0.25);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.selectedImage Button{
    background-color: transparent;
    height: 30px;
    border-radius: 50px;
    width: 30px;
}
.selectedImage img{
    border-radius: 15px;
    height: 90%;
    width: 90%;
}

.informationContainer{
    margin-top: 5px;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color:  rgba(255, 255, 255, 0.25);
    height: 71vh;
    width: 37%;
    min-width: 371px;
    border-radius: 15px;  
}
.head{
    display: flex;
    justify-content: space-between;
}

.details{
    height:  80%;
}

.details h4{
    border-top: 1px solid black;
    color: rgba(0, 0, 0, 0.916);
    margin-bottom: 20px;
}
.details h6:hover{
    overflow-y: scroll;
}
.bottom{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.bottom button{
    background-color: transparent;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    border: 1px solid #17C1E8;
    font-size:small;
    font-weight: bold;
}
.bottom button:hover {
    transform: scale(1.03); /* Scale the button to 110% of its original size */
    transition: transform 0.3s ease; /* Smooth transition */
}
.bottom label{
    color: green;
    font-weight: bold;
}

.ralatedProductsContainer{
    display: flex;
    flex-direction: row;
}
